.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pb {
	padding-bottom: 30px;
	&--big {
		padding-bottom: 60px;
	}
}
.pt {
	padding-top: 30px;
	&--big {
		padding-top: 60px;
	}
}

.hero {
	position: relative;
	min-height: 100vh;

	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1rem;
	&__text {
		text-transform: uppercase;
		font-size: 2.5em;
		font-family: 'Playfair Display SC', serif;
	}
	&__content {
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		padding: 3rem 1.5rem;
		border: 2px solid $gold;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
}

ul {
	padding-left: 17px;
	li {
		span {
			display: inline-block;
			width: 7rem;
		}
	}
}

.fit-content {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}


@media screen and (max-width: $md) {
	.hero {
		min-height: calc(100vh - 58px);
		&__content {
			min-height: calc(80vh - 58px);
		}
	}
}

@media screen and (max-width: $md) {
	.hero {
		font-size: .85rem;
	}
}

@media screen and (max-width: 350px) {
	.hero {
		font-size: .8rem;
	}
	ul {
		li {
			span {
				width: 6rem;
			}
		}
	}
}