.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.map {
	margin-top: 5rem;
}

.hero {
	position: relative;
	min-height: 100vh;

	display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1rem;
	&__text {
		text-transform: uppercase;
		font-size: 2.5em;
	}
	&__content {
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;
		padding: 3rem 1.5rem;
		border: 2px solid $gold;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
		object-fit: cover;
	}
}


.about {
	&__text {
		padding: 50px 0;
	}
	&__image {
		img {
			min-height: 45rem;
			object-fit: cover;
		}
	}
}

@media screen and (max-width: $md) {
	.hero {
		min-height: calc(100vh - 20px);
		&__content {
			min-height: calc(80vh - 20px);
		}
	}
}

@media screen and (max-width: $md) {
	.hero {
		font-size: .85rem;
	}
}

@media screen and (max-width: 350px) {
	.hero {
		font-size: .8rem;
	}
}