.form {
	margin-top: 3rem;
	max-width: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 2.2rem;
	display: flex;
	flex-direction: column;
	input, textarea {
		border: none;
		outline: none;
		border-bottom: 1px solid #000;
		font-size: 1.8rem;
		padding-top: .5rem;

		font-family: 'Roboto';
		font-weight: 300;
	}
	button {
		margin-left: auto;
		margin-right: auto;
		margin-top: 2rem;
		background: #D3D3D3;
		border: none;
		padding: .5rem 2rem;
		user-select: none;
	}
	&__element {
		display: flex;
		flex-direction: column;
		padding-bottom: 1.5rem;
		span {
			margin-right: 2rem;
		}
	}
}