$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$gold: #bda654;
$main: #544e39;

html {
	font-size: 10px;
	
}
body {
	font-size: 1.6rem;
	color: $main;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
}

section {
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin: 0;
	font-size: 2.3rem;
}

h1 {
	font-size: 9em;
	color: $gold;
	font-weight: 400;
	font-family: 'Playfair Display SC', serif;
}

h2 {
	font-size: 7rem;
	margin-top: 5rem;
}

img {
	display: inline-block;
	max-width: 100%;
}

section:last-of-type {
	padding-bottom: 20rem;
}

@media screen and (max-width: $md) {
	html {
		font-size: 8px;
	}
	h1 {
		//font-size: 5rem;
		width: min-content;
	}
}
@media screen and (min-width: $xl) {

	.container {
		max-width: 1500px;
	}

}


@import './components';
@import './form';