$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


html {
	font-size: 10px;
	
}
body {
	font-size: 1.6rem;
	color: black;
	font-family: 'Dancing Script', cursive;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p {
	margin: 0;
	font-size: 3rem;
}

h1 {
	font-size: 10rem;
	color: #fff;
}

h2 {
	font-size: 7rem;
	margin-top: 5rem;
}

img {
	display: inline-block;
	max-width: 100%;
}

section:last-of-type {
	padding-bottom: 20rem;
}

@media screen and (max-width: $md) {

	h1 {
		font-size: 5rem
	}

}


@import './components';
@import './form';